<?xml version="1.0" encoding="utf-8"?>
<web-app
        version="2.5"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <servlet>
        <servlet-name>crawls</servlet-name>
        <servlet-class>ro.gdgs.crawler.web.ManageCrawls</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>crawls</servlet-name>
        <url-pattern>/crawls</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>crawler</servlet-name>
        <servlet-class>ro.gdgs.crawler.web.Crawler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>crawler</servlet-name>
        <url-pattern>/crawler</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>crawler</web-resource-name>
            <url-pattern>/crawler*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>crawls</web-resource-name>
            <url-pattern>/crawls*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
